body {
  background-color: rgb(14, 14, 14);
  color: rgb(228, 228, 228);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  text-align: center;
}

h1 {
  text-align: center;
}

canvas {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
}

#matterjs canvas {
  opacity: 0.3;
}